   
   /* code from https://www.w3schools.com/howto/howto_js_todolist.asp
   Some colors were changed like the background. Some code was removed because it was not necessary
   for this to-do list. And other code was added like styling the top label, and adding the edit button.*/
   
/*Styles the whole app. (added by group) */
.table {
width: 40%;
padding: 50px;
margin-left: auto;
margin-right: auto;
}

/*Styles the list as a whole. (added by group) */
ul {
  margin: 0px;
  padding: 0px;
}
   
/*Styles the list of items. (copied and edited from w3schools.com)*/
.listItem{
  list-style: none;
  cursor: pointer;
  position: relative;
  padding: 6px 6px 15px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;

  /* make the list items unselectable*/
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) (copied from w3schools.com)*/
.listItem:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover (copied from w3schools.com)*/
.listItem:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text (copied from w3schools.com)*/
.listItem.checked {
  background: #888;
  color: #fff;
}

/* Add a "checked" mark when clicked on (copied and edited from w3schools.com)*/
.li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the delete button. (Copied and edited (changed top, right and padding) from w3schools.com)*/
.deleteItem {
  position: absolute;
  right: 7px;
  top: 5;
  padding: 5px;
  
}

/* style the delete button when hovered. (Copied and edited (color) from w3schools.com)*/
.deleteItem:hover {
  background-color: orange;
  color: white;
}

/* Style the header (edited, changed backgroun color, from w3schools.com)*/
.header {
  background-color: orange;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

/* Clear floats after the header (all copied form W3schools.com)*/
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input (edited from w3schools.com)*/
.taskInput {
  margin: 0;
  border: none;
  width: 75%;
  padding: 10px;
  float: left;
}

/* Style the "Add" button (edited from w3Sschools.com)*/
.submit {
  padding: 8x;
  width: 15%;
  background: #d9d9d9;
  color: black;
  text-align: center;
  font-size: 16px;
  float: right;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 5px;
}

/* style "New Task List" (added by group)*/
label {
  float: left;
  font-weight: bold;
}

/*style the edit button (added by group)*/
.editItem {
 border: none;
 margin-left: 10px;
 padding: 0;
}

